body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #10181C;
    margin: 0;
    background-color: #F2F0F0;
}

.navbar {
    font-size: 1.1em;
    position: relative;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.navbar-brand {
    display: block;
    text-decoration: none;
    color: #10181C;
    font-size: 1.5em;
    padding-left: 30px;
    text-decoration: none;
    color: #10181C;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-nav {
    list-style-type: none;
    padding-right: 30px;
}

.nav-item {
    float: left;
}

.nav-link {
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #10181C;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #6C9392;
}

.flex-container {
    display: flex;
    padding: 0;
}

.hero {
    margin-top: -70px;
    height: 100vh;
    justify-content: space-between;
}

.hero-image {
    width: 60vw;
    background-image: url("./images/hero.jpg");
    background-size: cover;
    background-position: right center;
    margin: 0;
}

.hero-text {
    width: 40vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px;
    color: #112624;
}

.hero-heading {
    font-size: 2.5em;
    padding-bottom: 50px;
}

.hero-button {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 320px;
    border: none;
    color: #10181C;
    font-weight: bold;
    background-color: #C88157;
    margin-top: 50px;
    padding: 20px;
    transition: background-color 0.3s;
    outline: 3px solid #A64005;
    box-shadow: 10px 10px 0 #A64005;

    cursor: pointer;
}

.hero-button:hover {
    background-color: #ddac90;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.featured {
    min-height: 600px;
    box-sizing: border-box;
    padding: 50px 0px;
    background-color: #112624;
    color: #F2F0F0;
}

.featured .section-heading {
    margin-bottom: 50px;
}

.featured-item {
    width: 400px;
}

.featured-item img {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 20px 20px 0 #6C9392;
    border: 3px solid #6C9392;
}

.featured-desc {
    font-style: italic;
    color: #CDB0A0;
    margin-left: 20px;
    display: inline-block;
}

.more-button {
    color: #10181C;
    font-weight: bold;
    font-size: 1rem;
    background-color: #C88157;
    border: #A64005 3px solid;
    box-shadow: 10px 10px 0 #A64005;
    height: 50px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.more-button:hover {
    color: #10181C;
    background-color: #CDB0A0;
}

.benefits {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 600px;
    width: 1000px;
    font-size: 1.5em;

}

.benefits-centered-container {
    display: flex;
    justify-content: center;

    background: rgb(242, 240, 240);
    background: radial-gradient(circle, rgba(242, 240, 240, 1) 30%, rgba(205, 176, 160, 0.2) 100%);
    position: relative;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 130px;
    padding: 40px;
    margin: 10px;
    text-align: center;
    background-color: #c9d1d173;

    position: relative;
}

.benefits-item svg {
    position: absolute;
    top: 40px;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.section-heading {
    text-align: center;
    margin: 0;
}

.full-viewport-height {
    height: 100vh;
}

.about {
    background: rgb(242, 240, 240);
    background: linear-gradient(0deg, rgba(242, 240, 240, 1) 0%, rgba(54, 89, 83, 1) 5%, rgba(54, 89, 83, 1) 100%);

    min-height: 80vh;
    background-color: #365953;
    color: #F2F0F0;
    margin: 0;
    padding: 30px 50px 100px 50px;
}

.about-centered-container {
    max-width: 1000px;
    margin: auto;
}

.about .section-heading {
    padding: 20px;
}

.about img {
    max-width: 500px;
    height: auto;
    margin-left: 50px;
    border: 3px solid #112624;
    box-shadow: 15px 15px 0px 0px #112624;
}

.about-flex {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.about-flex-text {
    flex-direction: column;
    width: 20vw;
}

.about-item {
    padding: 20px 0 20px 0;
}

.stores {
    padding: 150px;
    padding-top: 50px;
}

.stores .flex-container {
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    margin: auto;
}

.stores-addresses {
    min-width: 380px;
}

.stores-addresses span {
    font-weight: bold;
}

.stores .section-heading {
    margin-bottom: 80px;
}

.stores-addresses ul {
    list-style-type: square;
}

.stores-hours {
    background-color: #6c939227;
    padding-left: 30px;
    margin-top: 20px;
}

.stores-hours h3 {
    margin-bottom: 10px;
    color: #6C9392;

}

.stores-info {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.map-image {
    max-width: 600px;
    border: #A64005 solid 4px;
    box-shadow: -15px 15px 0px 0px #A64005;
}


.contact {
    max-height: 70vh;
    background-color: #A64005;
    color: #e7bea6;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form {
    position: relative;
}

.contact form fieldset {
    border: none;
    width: 60%;
    margin: auto;
}

.contact .form-input-field {
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.contact .form-input-field::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    opacity: 0.8;
}

.contact label {
    text-align: left;
    margin-bottom: 5px;
    display: inline-block;
}


.contact .form-input-field:focus {
    outline: #C88157 3px solid;
}

.contact-name {
    width: 60%;
    display: inline-block;
}

.contact-age {
    width: 30%;
    float: right;
}

.submit-button {
    font-family: inherit;
    font-weight: bold;
    width: 150px;
    height: 30px;
    background-color: #C88157;
    border: none;
    transition: background-color 0.3s;
    outline: 3px solid #A64005;
    box-shadow: 10px 10px 0 #fff;
}

.submit-button:hover {
    background-color: #e0a27d;
}

footer {
    background-color: #10181C;
    color: #F2F0F0;
}

footer h4, footer div {
    padding: 20px;
    padding-top: 70px;
}

footer a {
    text-decoration: none;
}

footer a svg {
    fill: rgba(255, 255, 255, 0.753);
}

footer a svg:hover {
    fill: rgb(255, 255, 255);
}

@media screen and (max-width: 1100px) {
    .navbar {
        align-items: flex-start;
    }

    .nav-item {
        float: none;
        padding: 5px;
    }
}